main {
    background: linear-gradient(to bottom, #22252c, #4b4a4a);
    padding: 0 2vw 0 2vw;   
    color: white;
    
    h2 {
        line-height: 2em;
        font-size: 1.5em;
    }
}

.total {
    padding: 5vh 0 5vh 0;
}

#boton_reset {
    position: sticky;
    bottom: 0;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            font-size: larger;
            color: black;
        }
    }
}
 
