#main_presupuesto {
    width: 100vw;
    background: linear-gradient(to bottom, #22252c, #4b4a4a);
    padding: 0 2vw 0 2vw;   
    color: white;
        
    h2 {
        line-height: 2em;
        font-size: 2.5em;
    }

    h3 {
        line-height: 1.5em;
        font-size: 2em;
    }

    h4 {
        line-height: 1em;
        font-size:1.5em;
    }
}

#boton_primer_paso, #boton_pagar {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
