*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  overflow-x: hidden;
}


#boton_reset {
  position: fixed;
  bottom: 0;
  margin-right: 3vw;

  a {
      text-decoration: none;
      color: black;

      &:hover {
          font-size: larger;
          color: black;
      }
  }
}
